h3{
    font-size: 30px;
    color: blue;
    background-color: beige;
}
/* p{
    color: rgb(47, 172, 255);
} */
.t_transform_uppercase{
    text-transform: uppercase;
}
.t_transform_lowercase{
    text-transform:lowercase;
}
.t_transform_capitalize{
    text-transform: capitalize;
}
.pratu{
    text-align: center;
}
.t_right{
    text-align: right;
}
.t_decor_underline{
    text-decoration: underline;
}
.t_decor_overline{
    text-decoration: overline;

}
.t_decor_linetrough{
    text-decoration: line-through;
}
.t_decor_underline{
    text-decoration: line-through underline overline;
   
   
}
 .t_indent{
    text-indent: 50px;
 }
.l_spacing{
    letter-spacing: 20px;
}
.w_spacing{
    word-spacing: 30px;
}
.l_height{
    line-height: 38px;
}
.t_shadow{
    text-align: center;
    font-size: 80px;
    color:blueviolet;
    text-shadow: 10px 4px 8px red;
}
.t_shadow2{
    text-align: center;
    font-size: 80px;
    color: blue;
    text-shadow: 15px 5px 9px greenyellow;
}
.b_shadow{
    box-shadow: 5px 5pc 15px red;
    width: 100px;
    height: 250px;
}
/* .t_color{ 
    color: blue;
} */
.t_size{
    font-size: 60px;
}
.t_bg{
    background-color: aquamarine;
}
#t_size{
    font-size: 400px;
}
#t_color{
    color:blueviolet;
    font-size: 40px;
}
.f_family1{
    font-family: 'Times New Roman', Times, serif;
}
.f_family2{
    font-family: Arial, Helvetica, sans-serif;
}
.f_family3{
    font-family: fantasy;
}
.b_prop1{
    border: 3px dashed red;
    width: 250px;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 50px; */
    border-radius: 20px 40px 20px 40px;

}
.b_prop{
    border: 4px double pink;
    margin: 20px;
    padding: 38px;
}
.b_prop2{
    width: 350px;
    border: 4px double  blue;
    border-radius: 50px 20px 20px 50px;
    border-color: red black gold violet;
}
.b_prop3{
    width:250px;
    border: 6px double violet;
    /* padding:20px; */
border-radius: 30px;
margin: 20px 30px 20px 30px;

}
.b_prop4{
    border: 3px solid aqua;
    /* border-color: aqua; */
    margin: 50px 30px 50px 30px;
    padding: 40px 20px 40px 20px;
}
.b_prop5{
     width:250px;
    border: 6px double rgb(161, 130, 238);
    /* padding:20px; */
border-radius: 30px 20px 30px 20px;
margin: 50px 30px 50px 30px;
padding:20px 30px 20px 30px;


}
.b_prop6{
width: 500px;
border: 3px dashed black;
padding-left: 30px;
margin-top: 20px;
}
.linear{

    height: 4oopx;
    background: linear-gradient(to right,Lavender, Pink,orange);
}
.heading1{
    text-align: center;
    padding: 20px;
    color: black;
}
.linear1
{
    height: 500px;
    background: linear-gradient( to right ,orange,white,green);
}
.heading2{
    text-align: center;
    padding: 20px;
    color: black;

}
.radial{
    
    height: 500px;
    background: radial-gradient(circle at 25% 25%,violet,yellow,pink);
    border-radius: 50%;
    border: 4px solid black;
}
.conical{
    height: 400px;
    width: 300px;
    background: conic-gradient(from 90deg,red,green,black,blue);
}
.linear2{
    height: 400px;
    width: 300ox;
    background: linear-gradient(to right,pink,rgb(94, 66, 66),pink,black);
}